div {
    display: flex;
    flex-direction: column;
    width: 577px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: azure;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.span_1 {
    margin-top: 10px;
}

.span_2 {
    margin-top: 10px;
}